
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: Poppins, sans-serif
}


.logo {
    position: absolute;
    left: 627px;
    top: 40px;
    height: 47px;
    width: 185px
}

.line {
    position: absolute;
    left: 0px;
    top: 104px;
    width: 100vw;
    height: 5px;

}

.createac {
    position: absolute;
    left: 547px;
    top: 143px;
    font-size: 32;
    font-weight: bolder;
}

.logindiv {
    position: absolute;
    left: 529px;
    top: 205px;
}

.already {
    position: relative;
    left: 15px;
    top: 20px;
    font-size: 16;
    font-weight: lighter;
}

.loginbtn {
    position: relative;
    left: 315px;
    top: -31px;
}

.signup-form {
    position: absolute;
    left: 547px;
    top: 291px;
    display: block
}

.name-input {
    position: absolute;
    left: 551px;
    top: 324px
}

.name-error {
    color: red;
    font-size: 12px
}

.email-input {
    position: absolute;
    left: 551px;
    top: 374px
}

.email-error {
    color: red;
    font-size: 12px
}

.password-input {
    position: absolute;
    left: 551px;
    top: 424px
}

.password-error {
    color: red;
    font-size: 12px
}

.confirmPassword-input {
    position: absolute;
    left: 551px;
    top: 474px;
}

.confirmPassword-error {
    color: red;
    font-size: 12px
}

.signup-btn {
    position: absolute;
    left: 551px;
    top: 530px
}

.tandc {
    position: absolute;
    left: 551px;
    top: 570px;
    font-size: 5
}


